<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Get Your Weather Forecast</h1>
    <p class="col-md-8 fs-4">
      Our app provides accurate, real-time weather forecasts for any location in the United States. 
      Just enter an address to get reliable weather updates.
    </p>

    <%= render "shared/form" %>
  </div>
</div>